@using Web.Controllers


<div style="margin-bottom:1%">
    <a class="btn btn-light btn-sm" asp-controller="@UserController.Name" asp-action="@nameof(UserController.Lots)">Your Lots</a>
    <a class="btn btn-light btn-sm" asp-controller="@UserController.Name" asp-action="@nameof(UserController.Archive)" >Archive</a>
    <a class="btn btn-light btn-sm" asp-controller="@UserController.Name" asp-action="@nameof(UserController.Bids)" >Your Bids</a>
</div>
