
@using Domain.Models
@using Web.Controllers
@using static Domain.Models.Term

@model LotViewModel

<form asp-action="@nameof(LotController.Create)" method="post" enctype="multipart/form-data">

  <div class="row row-cols-md-2 mb-3">
    <div class="form-group">
      <label asp-for="Name" class="form-label">Name:</label>
      <input asp-for="Name" class="form-control" />
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Price" class="form-label">Price:</label>
      <input asp-for="Price" type="number" min="1" class="form-control" />
      <span asp-validation-for="Price" class="text-danger"></span>
    </div>
  </div>

  <div class="form-group mb-3">
    <label asp-for="Description" class="form-label">Discription:</label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
  </div>

  <div class="row row-cols-md-2 mb-3">
    <div class="form-group">
      <label asp-for="CategoryId" class="form-label">Category:</label>
      <select required class="form-select" name="CategoryId">
        @foreach (var category in ViewBag.Categories)
        {
          <option value="@category.Id">@category.Name</option>
        }
      </select>
    </div>
    <div class="form-group">
      <label asp-for="CloseTime" class="form-label">Close Time:</label>
      <select required class="form-select" name="CloseTime">
        @foreach (var value in Enum.GetValues(typeof(VALUE)))
        {
          <option value="@value">@Enum.GetName(typeof(VALUE), value) day(s)</option>
        }                  
      </select>
    </div>    
  </div>

  <div class="form-group mb-3">
    <label asp-for="Url" class="form-label">Images:</label>
    <input type="file" class="form-control" name="Url" multiple/>
  </div>
            
  <input type="submit" value="Next" class="btn btn-primary" />

</form>
