@using Domain.Models
@using Web.Controllers
@using static Domain.Models.Term
@model CreateLotViewModel

<form asp-action="@nameof(LotController.Create)" method="post" enctype="multipart/form-data">
   <!-- Categories -->
      <div class="mt-5 mb-4">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            @if (Model.Category == null)
            {
              <li class="breadcrumb-item active">All</li>
            }
            else
            {
            <li class="breadcrumb-item"><a asp-route-category="@null">All</a></li>

              var currentParent = Model.Category.Parent;
              @while (currentParent != null)
              {
                <li class="breadcrumb-item">
                  <a asp-route-category="@currentParent.Name">@currentParent.Name</a>
                </li>
                currentParent = currentParent.Parent;
              }
              <li class="breadcrumb-item active" aria-current="page">@Model.Category.Name</li>
            }
          </ol>
        </nav>

        @if (Model.Subcategories.Count > 0)
        {
          <div class="mb-5 gap-3 flex-wrap d-none d-md-flex">
            @foreach (var category in Model.Subcategories)
            {
              <a asp-route-category="@category.Name">@category.Name</a>
            }
          </div>
          <div class="dropdown d-md-none">
            <button class="btn btn-outline-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Subcategories
            </button>
            <ul class="dropdown-menu">
              @foreach (var category in Model.Subcategories)
              {
                <li>
                  <a asp-route-category="@category.Name" class="dropdown-item">@category.Name</a>
                </li>
              }
            </ul>
          </div>
        }

    <input hidden value="@Model.Category?.Id" name="category" />
    <input class="form-control mt-3" name="NewCategory" placeholder="New category name, if current category are not suitable for you" />
   
  </div>


  <div class="row row-cols-md-2 mb-3">
    <div class="form-group">
      <label for="Name" class="form-label">Name:</label>
      <input name="Name" class="form-control"  />
    </div>
    <div class="form-group">
      <label for="Price" class="form-label">Price:</label>
      <input name="Price" type="number" min="1" class="form-control" />
    </div>
    <div class="form-group">
        <label for="MinimalBid" class="form-label">Minimal Bid:</label>
        <input name="MinimalBid" type="number" min="1" class="form-control" />
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="Description" class="form-label">Discription:</label>
    <textarea name="Description" class="form-control"> </textarea>
  </div>

    <div class="form-group">
      <label for="CloseTime" class="form-label">Close Time:</label>
      <select required class="form-select" name="CloseTime">
        @foreach (var value in Enum.GetValues(typeof(VALUE)))
        {
          <option value="@value">@Enum.GetName(typeof(VALUE), value) day(s)</option>
        }                  
      </select>
    </div>

    


  <div class="form-group mb-3">
    <label for="Url" class="form-label">Images:</label>
    <input type="file" class="form-control" name="Url" multiple/>
  </div>
            
  <input type="submit" value="Next" class="btn btn-primary" />

</form>
