@using Domain.Models
@model Lot

<div class="row row-cols-md-2 g-3">

  @if(Model.Images != null && Model.Images.Count > 0)
  {
    <!-- Carousel of images -->
    <div id="images" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <img src="@Model.Images.ElementAt(0).Path" class="d-block w-100" alt="@Model.Name image">
        </div>
        
        @if(Model.Images.Count > 1)
        {
          @foreach(var image in Model.Images)
          {
            <div class="carousel-item">
              <img src="@image" class="d-block w-100" alt="@Model.Name image">
            </div>
          }
        }
      </div>
      
      @if (Model.Images.Count > 1)
      {
        <!-- Navigation -->
        <button class="carousel-control-prev" data-bs-target="#images" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-bs-target="#images" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      }
    </div>
  }

  <div>
    <h2>@Model.Name</h2>
    <p class="fw-bold">@Model.Price</p>

    @if(!Model.IsClosed)
    {
      <button>Mate a bet</button>
    } 
  </div>
  
</div>


<form action="MakeBid"   method="post">


<input type="hidden" value="@Model.Id" name="productId"/>
<input type="number" name="bid"/>
<input type="submit" value="Save"/>
</form>