@using Web.Controllers;
@model CatalogViewModel;

@{
    ViewData["Title"] = "Search";
}

<!-- Search and filter form -->
<form class="mb-3 mt-4" asp-controller="@LotController.Name" asp-action="@nameof(LotController.Index)" method="get">
  <input hidden value="@Model.Category?.Name" name="category" />
  <div class="input-group">
    <input class="form-control" placeholder="Enter name of lot you want to search" aria-label="Search" name="name" aria-describedby="btn-search" value="@Model.Filter.Name">
    <button class="btn btn-primary" type="submit" id="btn-search">Search</button>
  </div>

  <div class="input-group d-flex gap-3 mt-3 align-items-center">
    <label>Price</label>
    <input type="number" class="form-control" placeholder="Min" name="min" min="0" value="@Model.Filter.MinPrice" />
    <input type="number" class="form-control" placeholder="Max" name="max" value="@Model.Filter.MaxPrice" />
  </div>
</form>

<!-- Categories --> 
<div class="my-4">
 
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      @if(Model.Category == null)
      {
        <li class="breadcrumb-item active">All</li>
      } else
      {

        <li class="breadcrumb-item">
          <a asp-controller="@LotController.Name" asp-action="@nameof(LotController.Index)"
           asp-route-max="@Model.Filter.MaxPrice" asp-route-min="@Model.Filter.MinPrice" asp-route-name="@Model.Filter.Name">All </a>
        </li>

        var currentParent = Model.Category.Parent;
        @while (currentParent != null)
        {
          <li class="breadcrumb-item">
            <a asp-route-category="@currentParent.Name" asp-route-max="@Model.Filter.MaxPrice" asp-route-min="@Model.Filter.MinPrice" 
              asp-route-name="@Model.Filter.Name">@currentParent.Name</a>
          </li>
          currentParent = currentParent.Parent;
        }
        <li class="breadcrumb-item active" aria-current="page">@Model.Category.Name</li>
      }


    </ol>
  </nav>

  <div class="d-flex mb-5 gap-3 flex-wrap">
    @foreach (var category in Model.Subcategories)
    {
        <a asp-route-category="@category.Name" asp-route-max="@Model.Filter.MaxPrice" 
          asp-route-min="@Model.Filter.MinPrice" asp-route-name="@Model.Filter.Name">@category.Name</a>
    }
  </div>
</div>



<!-- List of lots -->
<div class="row g-4">
  @foreach (var lot in Model.Lots)
  {
    <div class="col-md-12 col-lg-3 mb-4 mb-lg-0">
      <div class="card">
        <div class="card-body">
          @if (lot.Images != null && lot.Images.Count != 0)
          {
            <div class="text-center">
            <img src="@lot.Images.ElementAt(0).Path" class="card-img-top mb-3" style="max-height:50vh; width:auto; max-width:100%" alt="@lot.Name image" />
          </div>
          }
          <div class="mb-3">
            <h5 class="mb-3">@lot.Name</h5>
            <p class="fs-5 fw-bold my-1">@lot.Price $</p>
          </div>
          <div class="d-flex gap-3 align-items-center">
            @if (User.Identity != null && User.Identity.IsAuthenticated == true)
            {

              @if (lot.IsFavorite)
              {
                <a class="btn btn-sm btn-outline-secondary" asp-controller="@FavoriteController.Name"
             asp-action="@nameof(FavoriteController.DeleteFavorite)" asp-route-id="@lot.Id" asp-route-redirect="@Model.Route">Remove favorite</a>

              }
              else
              {
                <a class="btn btn-sm btn-outline-secondary" asp-controller="@FavoriteController.Name"
             asp-action="@nameof(FavoriteController.AddFavorite)" asp-route-id="@lot.Id" asp-route-redirect="@Model.Route">Add to favorites</a>
              }
            }
            <a class="btn btn-sm btn-outline-primary" asp-controller="@LotController.Name"
              asp-action="@nameof(LotController.Details)" asp-route-id="@lot.Id"
            >Details</a>
           
          </div>
        </div>
      </div>
    </div>
  }
</div>